# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\corejavaworkspace\Volatile-Example-App-In-Java\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
